* body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    padding: 5px 5px 5px 0px;
    background-color: rgb(74, 74, 74);
}

header h1 {
    display: inline-block;
    font-size: 35px;
    background-color: rgba(0, 255, 255, 0.682);
    color: rgb(74, 74, 74);
    padding-left: 20px;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
    font-weight: bold;
}

.header a:hover {
    color: white;
}

a {
    color: rgba(0, 255, 255, 0.682);
    text-decoration: underline;
}

.positioned-image {
    position: absolute; /* Set the positioning to absolute */
    top: 15%; /* Adjust the top position */
    left: 200px; /* Adjust the left position */
    width: 60px;
  }
  

.wood img{
    height: 115px;
    width: 100%;
}

.Me {
    display: block;
    margin-left: 50px;
}

aside {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

aside h2 {
    flex: 1;
    font-size: 40px;
    margin-left: 100px;
}

aside p {
    flex: 2;
    padding-right: 40px;
    font-size: 15px;
}

.About-Me h2{
    position: relative;
    padding-left: 50px;
}

.About-Me h2::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 90px;
    right: 35%;
    width: 5px;
    background-color: rgb(74, 74, 74);
}

  section {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  
  section h2 {
      flex: 1;
      font-size: 40px;
      margin-left: 100px;
  }

  .pictures {
    flex: 2;
    padding-right: 20px;
    font-size: 15px;
  }
  
  .example img {
      height: 425px;
      width: 900px;
      border: 2px solid rgba(0, 255, 255, 0.682);
      padding: 0;
      border-width: 5px;
  }

  .example img:hover {
    background-color: brown;

}

  .example p {
    position: absolute;
    bottom: -90px;
    left: 590px;
    width: 130px;
    background-color: rgba(0, 255, 255, 0.682);
    color: black;
    padding: 5px;
    font-size: 30px;
    font-weight: bolder;
  }
  
  .picture-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

  }
  
  .picture-grid img {
    width: 100%;
    height: 150px;
    border: 2px solid rgba(0, 255, 255, 0.682);
    padding: 0;
    border-width: 5px;
  }

  .images {
    position: relative;
  }

  .picture-grid p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: -50px;
    background-color: rgba(0, 255, 255, 0.682);
    color: black;
    padding: 5px;
    font-size: 16px;
    font-weight: bolder;
  }

  .Work h2{
      position: relative;
      padding-left: 50px;
      height: 700px;
  }
  
  .Work h2::after {
      content: "";
      position: absolute;
      top: -30px;
      bottom: 0;
      height: 760px;
      right: 35%;
      width: 5px;
      background-color: rgb(74, 74, 74);
  }

  footer {
    display: flex;
    align-items: flex-end;
    background-color: rgb(74, 74, 74);
    color: rgba(0, 255, 255, 0.682);
    bottom: -35px;
    width: 100%;
  }

footer p {
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}

.Contact h2{
    position: relative;
    padding-left: 50px;
}

.git {
    padding-left: 250px;
}

.git a:hover {
    color: white;
}

.email {
    padding-left: 200px;
}

.number {
    padding-left: 150px;
}